<br><br>


<div class="container-fluid">
  <!--  Add Backpack -->
  <div class="row">
    <div class="col-xs-12">
      <button (click)="onNewBackpack()" class="btn btn-success btn-circle btn-xl" data-toggle="modal" href="#myModal2">
        <i class="glyphicon glyphicon-plus"></i></button>
      <button class="btn btn-success btn-circle btn-xl" data-toggle="modal" href="#modelIcon">
        <i class="glyphicon glyphicon-plus"></i></button>
    </div>
  </div>
  <!--  Add Backpack finish  -->
</div>

<hr>


<!--<div class="col-xl-12 col-example " (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)">-->

<!--  List of backpacks -->
<div class="row align-self ">
  <div class="container-fluid ">
    <div class="row align-self-center">
      <a *ngFor="let backpackEl of backpacks" (mouseleave)="onLeave($event)">
        <div class="col-md-2 ">
          <app-backpack-item [backpack]="backpackEl"
                             (mouseenter)="onHover(backpackEl)"
          ><br></app-backpack-item>
        </div>
        <div class="col-md-1 ">
          <div *ngIf="iconListBackpack && backpackEl.id==selectedBackpackId">
            <div class="list-group ">
              <ul style="list-style-type:none;">
                <li><a href="#modalItemDetails" data-toggle="modal"
                       class="list-group-item list-group-item-action list-group-item-success btn btn-info "
                       style="background-color: rgba(0,0,0,.0001) !important; border-style: none;"><i
                  class="glyphicon glyphicon-th-list"></i></a>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#myModal2"
                       (click)="onEdit(backpackEl)"
                       class="list-group-item list-group-item-action list-group-item-secondary btn btn-info  "
                       style="background-color: rgba(0,0,0,.0001) !important; border-style: none;"><i
                  class="glyphicon glyphicon-pencil"></i></a>
                </li>
                <li><a href="javascript:void(0);" (click)="onDelete(backpackEl)"
                       class="list-group-item list-group-item-action list-group-item-danger btn btn-info "
                       style="background-color: rgba(0,0,0,.0001) !important;  border-style: none;"><i
                  class="glyphicon glyphicon-trash"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--    icons-->
  <!--    icons finish-->
</div>
<!--  List of backpacks  finish-->

<!-- Modal add new backpack-->
<div class="modal fade"
     id="myModal2"
     role="dialog"
     aria-hidden="true"
     data-backdrop="false"
     *ngIf="addNewBackpackActive"

>
  <div class="modal-dialog modal-mm">
    <div class="modal-content">
      <div class="modal-header  " style="background-image: linear-gradient(#5cbfa9, #8bcc8f);">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title text-light">New Backpack</h2>
      </div>
      <div class="modal-body" style="background-image: linear-gradient( #2df3b5,  #2df3b5); ">
        <div class="row">
          <div class="col-xs-12">
            <form [formGroup]="backpackForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xs-12">
                  <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!backpackForm.valid"
                   >Save
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      id="name"
                      formControlName="name"
                      class="form-control"
                    >
                    <div *ngIf="onInputSameName()">
                      <div class="alert alert-danger">
                        <strong>attention!</strong> this Backpack will not be saved because you have sane name.
                      </div>
                      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="image">Image URL</label>
                    <input
                      type="text"
                      id="image"
                      formControlName="image"
                      class="form-control"
                      #image>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-xs-12">
                  <img [src]="image.value" class="img-responsive">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group has-error has-feedback">
                    <label for="description">Description</label>
                    <textarea
                      type="text"
                      id="description"
                      class="form-control"
                      formControlName="description"
                      rows="6"></textarea>

                    <div *ngIf="onInputLength() ">
                      <div class="alert alert-danger">
                        <strong>Attention!</strong> This PAQ will not be saved because the length exceeds 200
                        characters..
                      </div>
                      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-image: linear-gradient( #2df3b5,  #2df3b5); border-style: none;">
        <button type="submit"
                class="btn btn-danger btn-default pull-left"
                #closebutton data-dismiss="modal"><span
          class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>

</div>

<!-- Modal add new backpack   finish-->

